<!-- ./views/show.handlebars -->
<div class="container py-5">
  <div class="text-center">
    <h1 class="mb-4">{{renderData.movieTitle}}</h1>
    <img class="img-fluid" src="/img/{{renderData.movieImg}}" alt="Card image cap"
      style="height:auto;">
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <p class="text-secondary mb-1">
        <strong>release date:</strong>
        {{renderData.date}}
      </p>
      <p>
        {{renderData.description}}
      </p>
    </div>
  </div>
</div>